:root {
  font-family: sans-serif;
  box-sizing: border-box;

  --pad: 1rem;
  --rad: calc(var(--pad) / 2);
  --slow: 0.2s;
  --fast: 0.05s;

  --bg: #FFF;
  --bginput: #FEFEFE;
  --bghi: rgba(0,100,200,0.5);
  --fg: rgba(0,0,0,1);
  --col1: #18A0FB;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --bginput: #363;
    --bghi: rgb(0,102,0,1);
    --fg: rgba(204,204,204,1);
    --col1: rgba(100,255,100,1);
  }
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background var(--slow) linear;
}

@media screen and (min-width: 800px) {
  .container {
    margin: 1em;
  }
}

html {
    display: table;
    margin: auto;
}

body {
  background: var(--bg);
  color: var(--fg);
  width: 100vw;
  height: 100vh;
  max-width: 40rem;

  display: table-cell;
  vertical-align:top;
}

body>* {
  padding: var(--pad);
}

a,
a:visited {
  color: var(--col1);
}

header * {
  font-size: 100%;
  outline-color: var(--col1);
  border: none;
  border-radius: var(--rad);
  padding: var(--pad);
}

.btnStyle{
    text-decoration: none;
    text-align: center;
    font-size: 75%;
    display: inline-block;
    padding: 2px 8px;
    border-style: solid; border-width: 1px ;
    border-radius: 6px;
    float: right;
    margin-right: 1em;
}

#btnBlue{
  background: #18A0FB;
  color: #FFFFFF;
}

#btnWhite{
  background: #FFFFFF;
  color: #18A0FB;
  }

#btnProfile{
  background: #FFFFFF;
  color: #18A0FB;
  width: 20px;
  height: 20px;
  display: block;
}

#btnProfile img{
  width: 15px;
  height: 15px;
}

#detail{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%
}

#detail p{
  margin-top: 4%;
}

#searching{
  margin-left: 10%;
  margin-right: 10%;
}

#searchbar{
  height: 3em;
  width: 100%;
  border: solid thin #18A0FB;
  border-radius: 2px;
}

#search{
  max-height: 3em;
  float: right;
  margin-top: 1em;
  background: #18A0FB;
  color: #FFFFFF;
}

/* #searchErrorPopup{
  display: none;
} */

#addIngredient{
  margin-top: 1em;
  background: #FFFFFF;
  color: #18A0FB;
  margin-right: 0em;
}

#ingredient ul {
  padding-left: 2rem;
  list-style-type: none;
}

#ingredient li {
  padding-left: 2rem;
  background-image: url(media/remove.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

#usrSelection{
  width: 18%;
  margin-top: 2%;
  margin-right: 3%;
  border-style: solid; border-width: 1px ;
  max-width: 120px;
  position: relative;
  display: inline-block;
}

#usrSelectionAll{
  margin-left: 10%;
}

#usrRequirementsAll{
  display: inline-block;
}

#time,#cal,#serve,#diet{
  width: 18%;
  max-width: 120px;
  margin-right: 3%;
  border-style: solid; border-width: 1px ;
}

#diet input {
    margin: .05rem;
}

#result{
  border-style: solid; border-width: 1px ;
  margin-bottom: 4%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%
}

#ingredientResult{
  margin: 1rem;
}

.hiddenContent{
  display: none !important;
}

body.Login {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,160,185,1) 0%, rgba(6,76,170,1) 97%, rgba(7,59,154,1) 100%);
  height: 100vh;
  overflow: hidden;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}
.container h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

/* #ingredient{
  margin-top: 5%;
  margin-left: 10%;
  list-style-type: none;
  font-size: 105%;
} */
